.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .row {
    flex-direction: row;
    flex: 1;
  }
}

.last-date {
  text-align: center;
  font-size: 2em;
  background-color: #cccccc;
}

#commitCountRaceSVG {
  width: 80vw;
  height: 80vw;
}
